:root {
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    --primary-text-color:#2E2F42;
    --secondary-text-color:#434455;

}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
body {
    font-family: Roboto, sans-serif;

}
/* ====================COMPONENTS================= */
.page-header {
    background-color:#ffffff
}
.logo {
    font-family:var(--secondary-font);
    font-style: 800;
    font-size: 18px;
    line-height: 1,167;
    vertical-align: center;
    letter-spacing: 3%;
    color: #4d5ae5;
    fill: solid;
}

.subtitle {
    font-style: bold;
    font-size: 36px;
    line-height: 1, 11;
    vertical-align: top;
    letter-spacing: 2%;
    color: var(--primary-text-color);
}

.logo-half {
    font-family: var(--secondary-font);
    font-style: 800;
    font-size: 18px;
    line-height: 1,167;
    vertical-align: center;
    letter-spacing: 3%;
    fill: solid;
}
.logo-light {
    color: #F4F4FD;
}
.logo-dark {
    color: var(--primary-text-color);
}

.logo-description {
    font-style: regular;
    font-size: 16px;
    line-height: 1, 5;
    vertical-align: top;
    letter-spacing: 2%;
    color: #e7e9fc;
}
.card-name {
        font-style: medium;
        font-size: 20px;
        line-height: 1, 2;
        vertical-align: top;
        letter-spacing: 2%;
        color: var(--primary-text-color);
}
.function-description {
    font-style: regular;
    font-size: 16px;
    line-height: 1, 5;
    vertical-align: top;
    letter-spacing: 2%;
    color: var(--secondary-text-color);
}
.desc {
    font-style: regular;
    font-size: 16px;
    line-height: 1, 5;
    vertical-align: top;
    letter-spacing: 2%;
    color: var(--secondary-text-color);

}
/* ================/COMPONENTS================= */

/* ====================HEADER===================== */
.menu-item {
    font-style: medium;
    font-size: 16px;
    line-height: 1,5;
    vertical-align: top;
    letter-spacing: 2%;
    fill: solid;
    color: var(--primary-text-color);
}
.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.contact-email {
        font-style: normal;
        font-size: 16px;
        line-height: 1, 5;
        vertical-align: top;
        letter-spacing: 2%;
        fill: solid;
        color: var(--secondary-text-color);
}
.contact-phone {
    font-style: normal;
    font-size: 16px;
    line-height: 1,5;
    vertical-align: top;  
    letter-spacing: 2%;
    fill: solid;
    color: var(--secondary-text-color);
}
.contact-email:hover,
.contact-email:focus {
    color:#404bbf;
}
/* ====================/HEADER===================== */

/* ====================SECTION 1===================== */
.hero {
    background-color: #2E2F42;
}
.modal-btn {
        font-family: inherit;
        font-style: medium;
        font-size: 16px;
        line-height: 1,5;
        vertical-align: center;
        letter-spacing: 4%;
        fill: solid;
        color: #ffffff;
        background-color: #4d5ae5;
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
}
.main-title {
    font-style: bold;
    font-size: 56px;
    line-height: 1,07;
    vertical-align: top;
    letter-spacing: 2%;
    color: #ffffff;
}
/* ====================/SECTION 1===================== */

/* ==========================SECTION 2=============== */
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.features {
    font-style: medium;
    font-size: 20px;
    line-height: 1,2;
    vertical-align: top;
    letter-spacing: 2%;
    color: var(--primary-text-color);
}
.feature-description {
    font-style: regular;
    font-size: 16px;
    line-height: 1,5;
    vertical-align: top;
    letter-spacing: 2%;
    color: var(--secondary-text-color);
}
/* =========================/SECTION 2================ */

/* =========================SECTION 3=================== */
.section-three {
    background-color: #ffffff;
}

/* =========================/SECTION 3=================== */

/* ====================SECTION 4====================== */
.section-four {
    background-color: #F4F4FD;
}
.team-list-item {
    background-color: #ffffff;
}
/* ================/SECTION 4====================== */

/* =======================FOOTER==================== */
.footer {
    background-color: var(--primary-text-color);
}

/* =======================/FOOTER==================== */


/* ========================PORTFOLIO======================================  */


/* ======================SECTION 1=============================*/
.buttons {
   font-family: inherit; 
    font-style: 500;
    font-size: 16px;
    line-height: 1,5;
    vertical-align: center;
    letter-spacing: 4%;
    background-color: #E7E9FC;
    color: #4D5AE5;
    cursor: pointer;
}
.buttons:hover,
.buttons:focus {
 background-color: #404BBF;
 color: #ffffff;
}
/* ======================/SECTION 1======================== */
/* ==================================/PORTFOLIO========================= */