.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.menu-item {
    font-family: Roboto, sans-serif;
    font-style: medium;
    font-size: 16px;
    line-height: 1,5;
    align: left;
    vertical-align: top;
    letter-spacing: 2%;
    fill: solid;
    color:#2E2F42;
}
.menu-item:hover,
.menu-item:focus {
    color: #404bbf;
}
.contact-phone {
    font-family: Roboto, sans-serif;
    font-style: regular;
    font-size: 16px;
    line-height: 1,5;
    align: left;
    vertical-align: top;  
    letter-spacing: 2%;
    fill: solid;
    color: #434455  
}
.contact-phone:hover,
.contact-phone:focus {
    color:#404bbf;
}
